.link {
  display: inline-block;
  padding: 10px 30px;
  color: #fff;
  background-color: skyblue;
  border-radius: 5px;
}
.link:hover {
  color: #fff;
  transform: scale(1.03);
}
.active {
  background-color: rgba(0, 89, 255, 0.903);
}

.list {
  display: flex;
  gap: 10px;
  padding: 0;
}
.nav {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}
.title {
  margin: 0 auto;
  width: 130px;
}
.hide {
  display: none;
  visibility: hidden;
  pointer-events: none;
}
